body {
    background-color: #0d1111;
    color: #eee;
    max-width: 800px;
    margin: auto;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    color: #eee;
    font-size: 144px;
}

h2 {
    color: #ff5003;
}

h3 {
    border-bottom: 1px solid #ff5003;
}

.nameplate {
    background-color: #ff5003;
    margin-top: 2rem;
    padding: 1rem;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    font-weight: 900;
    font-style: italic;
}

.sect1 img {
    float: left;
    margin: auto;
}

.sect2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
}

.sect3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}

.project-card img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0rem;
}

a:link, a:visited, a:hover {
    font-style: none;
    text-decoration: none;
    color: #FF5003;
}
